* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13;
  background-color: #f2f8ff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.topNav {
  grid-area: nav;
  background-color: #f2f8ff;
  height: 9vh;
  display: flex;
  align-items: center;
}

.leftSide {
  grid-area: side;
  background-color: #ffffff;
  height: 100%;
}

.main {
  grid-area: main;
  background-color: #f2f8ff;
  height: 91vh;
}

.MyContainer {
  max-width: 1600px;
  margin: auto;
  display: grid;
  grid-template-areas:
    "side nav nav nav nav nav "
    "side main main main main main "
    "side main main main main main ";
}

.NavBar {
  background-color: #fff;
  width: 83%;
  height: 40%;
  margin: auto;
  border-radius: 4px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavBar ul {
  display: flex;
  align-items: center;
}

.NavBar ul li {
  margin-left: 6px;
  padding: 10px 12px;
}

.NavBar ul li a {
  color: #9fa7bb;
}

.NavBar ul:first-child li:first-child {
  background-color: #038bc6;
  border-radius: 11px;
}

.NavBar ul:first-child li:first-child a {
  color: white;
}

.NavBar ul:nth-child(2) li {
  border-left: 1px solid #f0f1f9;
  position: relative;
}

.NumForBell {
  position: absolute;
  top: 0px;
  right: 4px;
  background-color: #e4305d;
  color: white;
  padding: 4px 8px;
  font-size: 8px;
  border-radius: 20px;
}

.leftSide {
  padding: 20px 0 20px 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  position: fixed;
  width: 5%;
}

.leftSide ul li {
  margin-bottom: 35px;
  text-align: center;
}

.leftSide ul li a {
  margin-bottom: 20px;
  font-size: 16px;
  color: #d2d6e0;
}

.leftSide ul:first-child li:first-child a {
  color: white;
  background-color: #048ac5;
  border-radius: 20px;
  padding: 5px 12px;
}

.leftSide ul li.active {
  color: #048ac5;
  border-right: 2px solid #048ac5;
  position: relative;
}

/* .leftSide ul li .active::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: #048ac5;
  top: 0;
  left: -60%;
} */

.leftSide ul:nth-child(2) {
  /* position: relative;
  top: 29px; */
}

.leftSide ul li a .DangerColor {
  color: #e74444;
  position: relative;
}

.MainData {
  /* background-color: #fff; */
  width: 84%;
  margin: auto;
  height: 94%;
  margin: auto;
  border-radius: 4px;
  /* padding: 12px; */
  display: grid;
  grid-template-columns: 70% 30%;
  /* display: flex;
  flex-direction: column; */
}
.LeftofMain {
  margin-right: 5%;
}

.NavBarForMain {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  color: #000;
}
.NavBarForReports {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  color: #000;
}

.SumDataIcon {
  display: grid;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 50px;
  border-radius: 3px;
  height: 50px;
  grid-template-columns: repeat(4, 1fr);
}

.SumDataIcon .items {
  display: flex;
  justify-content: center;
}

.SumDataIcon .items i {
  background-color: #fd686b;
  border-radius: 100px;
  padding: 10px;
  margin: auto;
  color: #fff;
}

.SumDataIcon .items:nth-child(2) i {
  background-color: #ff8919;
}

.SumDataIcon .items:nth-child(3) i {
  background-color: #038ac6;
}

.SumDataIcon .items:nth-child(4) i {
  background-color: #209cff;
}

.SumDataIcon .items div {
  margin: auto;
}

.SumDataIcon .items div h5:first-child {
  color: #9a9faf;
}

.SumDataIcon .items div h5:last-child {
  color: #000;
  font-weight: bold;
  font-size: 16px;
}

.CircleDots {
  content: "";
  display: inline-block;
  background-color: #9fa7bb;
  border-radius: 200px;
  width: 9px;
  height: 9px;
}

.PTStatistics {
  display: grid;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 50px;
  border-radius: 3px;
  height: 250px;
  grid-template-columns: 0.5fr 3fr;
}

#my-chart.line {
  height: 220px;
  /* max-width: 400px; */
  margin: 0 auto;
  position: relative;
  --color: #209cff;
  top: -35px;
}

#colors-example-8 {
  height: 200px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10px;
  --color: #209cff;
}

.PTStatistics ul {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -13px;
}

.PTStatistics ul li {
  margin: 30px 0 0 0;
  text-align: center;
}

.charts-css .data {
  position: relative;
  top: -10px;
  left: -1px;
}

.PTStatistics ul:nth-child(2) li:first-child {
  margin: 30px 0 0 0;
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.PTStatistics ul:nth-child(2) li:first-child div:last-child {
  display: flex;
}

.PTStatistics ul:nth-child(2) li:first-child div:last-child h5 {
  margin-left: 12px;
}

.tableForLastPatients {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr 1fr 1fr;
  margin-bottom: 20px;
}

.tableForLastPatients li {
  text-align: center;
}

.tableForLastPatients li div:first-child {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 3px;
  color: #747474;
}

.tableForLastPatients li ul {
  padding: 10px 10px;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 3px;
  color: #000;
}

.tableForLastPatients li ul li {
  padding: 10px 0px;
}

.tableForLastPatients li ul li i:last-child {
  color: #e95d80;
}

.tableForLastPatients li ul li i:first-child {
  color: #929292;
  margin-right: 3px;
}

.fa-drafting-compass {
  color: #9fa7bb;
}

.RightofMain ul li {
  border-radius: 5px;
  height: 80px;
  width: 95%;
  margin: 0px auto 20px auto;
  background-color: #fff;
  padding: 14px;
}

.RightofMain ul li div:first-child {
  display: flex;
  justify-content: space-around;
}

.RightofMain ul li div:first-child .fa-bell {
  background-color: #fff2f2;
  color: #df8e8c;
  border-radius: 100px;
  margin: auto;
  padding: 10px;
}

.RightofMain ul li div:first-child h3 {
  text-align: center;
  font-weight: 400;
  font-size: 15px;
}

.RightofMain ul li div:first-child p {
  display: inline-flex;
  position: relative;
  top: 5px;
}

.RightofMain ul li div:first-child p i:first-child {
  margin-right: 3px;
}

.RightofMain ul li div:last-child {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 19px;
}

.RightofMain ul li div:last-child p {
  color: #747474;
  font-weight: 400;
}

.RightofMain ul li div:last-child h4 {
  color: #038bc6;
  font-weight: 500;
}

.RightofMain ul li div:last-child h4 i {
  font-size: 18px;
  position: relative;
  top: 2px;
}

.CircleDotsSm {
  content: "";
  display: inline-block;
  background-color: #9fa7bb;
  border-radius: 200px;
  width: 6px;
  height: 6px;
}
.INOUT {
  border-radius: 5px;
  /* height: 100px; */
  width: 95%;
  margin: 0px auto 20px auto;
  background-color: #fff;
  padding: 14px;
}
.INOUT div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.INOUT div:first-child {
  margin-bottom: 40px;
}
.INOUT div i {
  background-color: #f3f7fd;
  border: 1px solid #c6eeff9d;
  border-radius: 100px;
  color: #048ac5;
  margin: auto;
  padding: 12px;
  width: 8px;
  height: 8px;
  text-align: center;
}

.INOUT div:last-child i {
  background-color: #f6faff;
  border: 1px solid #e2bbc585;
  border-radius: 100px;
  color: #e4305d;
  margin: auto;
  padding: 12px;
  width: 8px;
  height: 8px;
  text-align: center;
}

.INOUT div ul {
  text-align: center;
}
.INOUT div ul p {
  color: #747474;
}
.INOUT div ul h3 {
  font-weight: 700;
}

#orientation-example-5 {
  height: 50px;
  max-width: 140px;
  margin: 0 auto;
  --color: #209cff;
}

#orientation-example-6 {
  height: 50px;
  max-width: 140px;
  margin: 0 auto;
  --color: #e4305d;
}
