.StarredPanelCU {
  /* background-color: #fff; */
  width: 96%;
  margin: auto;
  height: 94%;
  margin: auto;
  border-radius: 4px;
  /* padding: 12px; */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.NotMrRight {
  margin-right: 0;
}

.FullWidth {
  width: 96%;
}

.PTStaticInStarredPanel {
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 50px;
  border-radius: 3px;
  height: 250px;
  padding: 10px 7px;
  -ms-grid-columns: 0.5fr 3fr 2fr;
      grid-template-columns: 0.5fr 3fr 2fr;
}

.INOUTInStarredPage {
  margin: auto;
  width: 82%;
}

.UPChart {
  --color: #66ade7;
}

.DownChart {
  --color: #fd686b;
}

.AddRollInBokmark {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 20px;
}

#AddModel {
  display: none;
}

.AddModal {
  position: fixed;
  left: 0;
  right: 0;
  top: -100%;
  z-index: 102;
  width: 100%;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

.ModalActive {
  top: 10% !important;
}

.AddModal section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AddModal article:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 20px 10px;
  border-radius: 7px;
  margin-bottom: 20px;
  text-align: left;
  width: 485px;
}

.BottomBtnInModel {
  position: fixed;
  bottom: 20%;
  left: 0;
  right: 0;
  z-index: 120;
  background-color: #a8a8a8;
}

.BottomBtnInModel div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.BottomBtnInModel a {
  padding: 14px 30px;
  border-radius: 26px;
  z-index: 120;
  font-size: 16px;
  font-weight: 700;
}

.BottomBtnInModel a:first-child {
  border: 1px solid #038bc6;
  color: #038bc6;
  background-color: #fff;
  margin-right: 10px;
}

.BottomBtnInModel a:last-child {
  background-color: #038bc6;
  color: white;
}

.AddModal article:first-child p:first-child {
  font-size: 14px;
  font-weight: 600;
  color: #b6b6b6;
}

.AddModal article:first-child p:last-child {
  font-size: 16px;
  font-weight: 700;
  color: #7a7a7a;
}

.AddModal article:first-child aside {
  width: 41%;
}

.AddModal article:first-child aside:first-child {
  margin-top: 10px;
}

.AddModal article:first-child aside:first-child div:first-child {
  border-bottom: 1px solid #b6b6b6;
  padding: 0 0 10px 0;
}

.AddModal article:first-child aside:first-child div:last-child {
  padding: 10px 0 0px 0;
}

.AddModal article:first-child aside:last-child div:first-child {
  border-bottom: 1px solid #b6b6b6;
  padding: 0 0 10px 0;
  text-align: right;
}

.AddModal article:first-child aside:last-child div:first-child img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin-right: 10px;
}

.AddModal article:first-child aside:first-child div:last-child {
  padding: 10px 0 0px 0;
}

.AddModal article:first-child aside:last-child div:last-child {
  padding: 10px 0 0px 0;
}

.AddModal article:last-child {
  background-color: #fff;
  padding: 20px 29px;
  border-radius: 7px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 450px;
}

.AddModal article:last-child aside:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 1px solid rgba(221, 221, 221, 0.699);
}

.AddModal article:last-child aside:first-child h3 {
  font-size: 14px;
  font-weight: 700;
  padding: 0 0 20px 0;
  border-bottom: 1px solid rgba(170, 170, 170, 0.877);
}

.AddModal article:last-child aside:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
}

.AddModal article:last-child aside:nth-child(2) p {
  font-size: 14px;
  font-weight: 600;
  color: #8f8f8f;
  margin-bottom: 5px;
}

input {
  padding: 14px;
  border-radius: 16px;
  border: 1px solid #d6d6d6;
  color: #7a7a7a;
  width: 100%;
}

input[type="checkbox"] {
  width: 12px;
  height: 12px;
}

.date {
  padding: 11px;
  border-radius: 16px;
  border: 1px solid #d6d6d6;
  color: #7a7a7a;
  width: 100%;
}

input:focus {
  border-radius: 16px !important;
  border: 2px solid #5a5a5a91 !important;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input::-webkit-input-placeholder {
  color: #d6d6d6;
}

input:-ms-input-placeholder {
  color: #d6d6d6;
}

input::-ms-input-placeholder {
  color: #d6d6d6;
}

input::placeholder {
  color: #d6d6d6;
}

.AddModal article:last-child aside:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.AddModal article:last-child aside:nth-child(3) div {
  width: 190px;
}

.AddModal article:last-child aside:nth-child(3) div p {
  font-size: 14px;
  font-weight: 600;
  color: #8f8f8f;
  margin-bottom: 5px;
}

.AddModal article:last-child aside:nth-child(3) div:first-child {
  margin-right: 10px;
}

.AddModal article:last-child aside:nth-child(3) div:nth-child(2) {
  margin-right: 10px;
}

.AddModal article:last-child aside:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.AddModal article:last-child aside:nth-child(4) h3 {
  font-size: 14px;
  font-weight: 600;
  color: #8f8f8f;
}

.AddModal article:last-child aside:nth-child(4) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #8f8f8f;
}

.AddModal article:last-child aside:nth-child(4) div p {
  font-size: 14px;
  font-weight: 400;
  color: #8f8f8f;
  margin-right: 7px;
}

@media screen and (max-width: 1060px) {
  .NavBar {
    background-color: #fff;
    width: 89%;
    margin: 10px 10px 0 auto;
  }
  .MainData {
    width: 89%;
    height: 94%;
    margin: 0 30px 0 auto;
  }
  .tableForLastPatients {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 3fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .RightofMain ul li {
    width: 74%;
  }
  .INOUT {
    width: 74%;
  }
  .NavBarForReports {
    width: 74%;
    margin: auto;
  }
  .LeftofMain {
    margin-right: -1%;
  }
}

@media screen and (max-width: 900px) {
  .RightofMain ul li {
    width: 96%;
  }
  .INOUT {
    width: 96%;
  }
  .NavBarForReports {
    width: 99%;
    margin: auto;
  }
  .LeftofMain {
    margin-right: -1%;
  }
  .MainData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .RightofMain ul li div:first-child {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
  }
  .RightofMain ul li div:first-child .fa-bell {
    margin: auto 0 !important;
  }
  .RightofMain ul li div:last-child {
    top: 34px;
  }
  .RightofMain ul li div:first-child h3 {
    overflow: auto;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 800px) {
  .NavBar {
    width: 87%;
  }
  .MainData {
    width: 87%;
  }
  .leftSide {
    width: 5%;
  }
  .Modal {
    left: 30%;
  }
}

@media screen and (max-width: 630px) {
  .NavBar {
    width: 84%;
  }
  .MainData {
    width: 84%;
  }
  .leftSide {
    width: 7%;
  }
  .tableForLastPatients li ul {
    padding: 10px 0;
  }
  .tableForLastPatients {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 13.3% 13.3% 13.3% 13.3% 13.3% 13.3% 13.3% 8%;
        grid-template-columns: 13.3% 13.3% 13.3% 13.3% 13.3% 13.3% 13.3% 8%;
  }
  .tableForLastPatients li div:first-child {
    padding: 10px 0;
  }
  .Modal {
    left: 20%;
  }
}

@media screen and (max-width: 530px) {
  .NavBar {
    width: 81%;
  }
  .MainData {
    width: 81%;
  }
  .leftSide {
    width: 9%;
  }
  .tableForLastPatients li ul {
    padding: 10px 0;
  }
  .tableForLastPatients {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10.8% 16.3% 13.3% 13.3% 8.3% 13.3% 13.3% 10%;
        grid-template-columns: 10.8% 16.3% 13.3% 13.3% 8.3% 13.3% 13.3% 10%;
  }
  .tableForLastPatients li div:first-child {
    padding: 10px 0;
  }
  .PTStatistics {
    padding: 10px 17px;
  }
  .SumDataIcon {
    padding: 10px 17px;
  }
  .SumDataIcon .items div h5:first-child {
    font-size: 10px;
  }
  .SumDataIcon .items div h5:last-child {
    font-size: 14px;
  }
  .NavBar ul li {
    margin-left: 6px;
    padding: 10px 8px;
  }
  .NavBar ul li a {
    font-size: 12px;
  }
  .Modal {
    left: 10%;
  }
}

@media screen and (max-width: 488px) {
  .NavBar {
    width: 78%;
    /* margin: 10px 0.1px 0 auto; */
  }
  .MainData {
    width: 81%;
    margin: 0 20px 0 auto;
  }
  .leftSide {
    width: 9%;
  }
  .tableForLastPatients li ul {
    padding: 10px 0;
  }
  .tableForLastPatients {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 8.8% 17.3% 16.3% 10.3% 8.3% 13.3% 13.3% 12%;
        grid-template-columns: 8.8% 17.3% 16.3% 10.3% 8.3% 13.3% 13.3% 12%;
  }
  .tableForLastPatients li {
    font-size: 11;
    font-weight: 600;
  }
  .tableForLastPatients li ul li {
    font-size: 11px;
  }
  .tableForLastPatients li div:first-child {
    padding: 10px 0;
  }
  .PTStatistics {
    padding: 10px 17px;
  }
  .SumDataIcon {
    padding: 10px 2px;
  }
  .SumDataIcon .items div h5:first-child {
    font-size: 7px;
    text-align: center;
  }
  .SumDataIcon .items div h5:last-child {
    font-size: 11px;
  }
  .NavBar ul li {
    margin-left: 4px;
    padding: 10px 3px;
  }
  .NavBar ul li a {
    font-size: 11px;
  }
  .leftSide {
    width: 7%;
  }
  /* .leftSide ul:first-child {
      position: relative;
      left: -8px;
    } */
  .leftSide ul:first-child li:first-child a {
    position: relative;
    left: -7px;
  }
  .leftSide ul:first-child li:first-child a {
    padding: 5px 7px;
  }
  .RightofMain ul li {
    width: 90%;
  }
  .INOUT {
    width: 90%;
  }
  .Modal {
    left: 3%;
  }
}

@media screen and (max-width: 434px) {
  .Modal {
    left: 12%;
    width: 300px;
  }
}

@media screen and (max-width: 370px) {
  .Modal {
    left: 6%;
    width: 300px;
  }
}

@media screen and (max-width: 340px) {
  .Modal {
    left: 1%;
    width: 300px;
  }
}

@media screen and (max-width: 316px) {
  .PTStatistics {
    padding: 10px 6px;
  }
  .leftSide {
    padding: 20px 0 20px 8px;
  }
  .NavBar ul li a {
    font-size: 8px;
    font-weight: 500;
  }
  .NumForBell {
    position: absolute;
    top: 4px;
    right: -6px;
    background-color: #e4305d;
    color: white;
    padding: 3px 6px;
    font-size: 7px;
    border-radius: 20px;
  }
  .PTStatistics ul:nth-child(2) li:first-child div:first-child {
    font-size: 10px;
  }
  .SumDataIcon .items div h5:first-child {
    text-align: center;
  }
  .RightofMain ul li div:last-child {
    top: 15px;
  }
  .tableForLastPatients li {
    font-size: 9;
    font-weight: 600;
  }
  .tableForLastPatients li ul li {
    font-size: 9px;
  }
}

@media only screen and (max-width: 1060px) {
  .AddRollInBokmark {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr 0.5fr !important;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr 0.5fr !important;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 737px) {
  .AddRollInBokmark {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr 1fr 10% 0.5fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr !important;
        grid-template-columns: 0.5fr 1fr 10% 0.5fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr !important;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 631px) {
  .AddRollInBokmark {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr 1fr 10% 0.5fr 10% 0.5fr 0.5fr 10% 10% !important;
        grid-template-columns: 0.5fr 1fr 10% 0.5fr 10% 0.5fr 0.5fr 10% 10% !important;
    margin-bottom: 20px;
  }
  .tableForLastPatients li ul li {
    font-size: 11px !important;
  }
}

@media only screen and (max-width: 631px) {
  .AddRollInBokmark {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr 10% 10% 0.5fr 10% 0.5fr 0.5fr 10% 10% !important;
        grid-template-columns: 0.5fr 10% 10% 0.5fr 10% 0.5fr 0.5fr 10% 10% !important;
    margin-bottom: 20px;
  }
  .tableForLastPatients li ul li {
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 376px) {
  .AddRollInBokmark {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr 10% 10% 0.5fr 10% 0.5fr 0.5fr 10% 10% !important;
        grid-template-columns: 0.5fr 10% 10% 0.5fr 10% 0.5fr 0.5fr 10% 10% !important;
    margin-bottom: 20px;
  }
  .tableForLastPatients li ul li {
    font-size: 8px !important;
    font-weight: 600;
  }
}
/*# sourceMappingURL=style.css.map */